/* Style général de la page */
body {
    background-color: #fff5f8; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 h1 {
    color: #ff85a2;
    font-family: 'Georgia', serif;
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 2px;
}
/*bouton de portfolio*/
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    color: #ffb6c1; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff4d7d;
}
/*bouton des autres*/
a {
text-decoration: none;
    color: #ffb6c1; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    justify-content:center;
}
a:hover {
    color: #ff4d7d;
}
h2 {
    color: #ff85a2;
    font-size: 1.8em;
}

p {
    color: #777;
}